.form {
    padding: 15px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

.footer {
    position: absolute;
}

.padding {
    padding-right: 50px;
}