<!-- Footer -->
<div class='containter'>
    <footer class='text-center'>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Newsvilles 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>